<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>ui-input Demo</title>

    <script src="../platform/platform.js"></script>
    <link rel="import" href="ui-input.html">

</head>
<body unresolved>

<p>An `ui-input` looks like this:</p>

<template is="auto-binding">

    <section>

        <input is="ui-input" placeholder="a single-line input" value="{{value1}}" committedValue="{{committedValue1}}">

        <p>value: {{value1}}, committedValue: {{committedValue1}}</p>

        <input is="ui-input" type="number" preventInvalidInput placeholder="input type = number, preventInvalidInput" value="{{value2}}" committedValue="{{committedValue2}}">

        <p>value: {{value2}}, committedValue: {{committedValue2}}</p>

    </section>

</template>

</body>
</html>
